<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Dashboard", suffix: " · Neon" %>

    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/style/main.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/script/main.js") %>"></script>
  </head>

  <body>
    <nav class="side-nav" role="main">
      <div class="side-nav__header">

      </div>

      <div class="side-nav__list">
        <a href="/dashboard" class="side-nav__link">Dashboard</a>
      </div>

      <div class="side-nav__user account">
        <img class="account__avatar" src="https://s.gravatar.com/avatar/38f0782764cf3df788a194494de08510?s=48" alt="Blake Kostner" />
        <span class="account__name">Blake Kostner</span>
        <span class="account__subname">Settings</span>
      </div>
    </nav>

    <div class="page">
      <div class="page__content">
        <%= @inner_content %>
      </div>

      <div class="page__footer">
        <span>
          Written with Love by Blake Kostner
        </span>

        <span>
          Source code on <a href="https://github.com/btkostner/neon">GitHub</a>
        </span>
      </div>
    </div>
  </body>
</html>
