* {
  box-sizing: border-box;
}

html,
body {
  background-color: #121212;
  color: #dfdfdf;
  fill: #dfdfdf;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 0;
}

html {

}

body {
  display: flex;
  font-family: "Open Sans", "Noto Sans", "Roboto", "Droid Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration-skip-ink: auto;
}

.neon {
  color: #c0f5fe;
  font-weight: 100;
  text-shadow: 0 0 1rem #138093, 0 0 6ch #a5eaf6, 0 0 1ch #77dff1, 0 0 1rem #5bdaf0;
}

.side-nav {
  align-content: stretch;
  align-items: stretch;
  background-color: #222;
  border-right: 1px solid #2b2b2b;
  display: flex;
  flex-direction: column;
  flex: 0 1 16vw;
  justify-content: stretch;
  min-width: 260px;
}

.side-nav__list {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  justify-content: flex-start;
}

.side-nav__link {
  background-color: #000;
  color: inherit;
  line-height: 1;
  padding: 2rem;
  text-decoration: none;
  width: 100%;
}

.account {
  align-content: center;
  align-items: center;
  display: grid;
  grid-gap: 0 1ch;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 1rem;
}

.account__avatar {
  border-radius: 50%;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  height: 48px;
  width: 48px;
}

.account__name {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.account__subname {
  font-size: 0.8rem;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  opacity: 0.8;
}

.page {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.page__content {
  flex: 1 0 auto;
}

.page__footer {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  opacity: 0.6;
  padding: 1rem;
}
